%li{:id => "comment_#{commentt.id}"}
  .row
    .span1
      .comment-author-photo.hidden-phone
        - if commentt.user.photo.present?
          = image_tag(commentt.user.photo, :alt => commentt.user.gamertag)
        - else
          = image_tag(commentt.user.avatar, :alt => commentt.user.gamertag)
    .span7
      .comment-author
        %a.roll-link.roll-red{:href => "#"}

          %span{"data-title" => "#{(commentt.user.gamertag).camelcase}"}= commentt.user.full_name.camelcase
        dijo
      .comment-content
        - extract_mentioned_screen_names(commentt.content.to_s).each do |user|
          - unless User.find_by_gamertag(user).blank?
            - commentt.content = commentt.content.to_s.sub("@"+user, link_to(user, profile_path(User.find_by_gamertag(user)))).html_safe
        = commentt.content
      .comment-date.pull-left
        Hace
        = time_ago_in_words(commentt.created_at)
      - if user_signed_in?
        - if current_user.admin?
          = link_to news_commentt_path(@new, commentt), confirm: "Estas seguro?", method: :delete, remote: true, :class => "roll-link pull-right roll-red" do
            %span{"data-title" => "Eliminar"} Eliminar