%body
  %section.section-wrapper.create-account-page-w
    .container
      .row
        .span9
          .white-card.extra-padding
            = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
              - if resource.errors.any?
                %div.alert.alert-error
                  %h3 Oops!
                  %ul
                    - resource.errors.each do |attr|
                      - attr
                      - resource.errors[attr].each do |msg|
                        %li
                          - next if msg.nil?
                          - if attr == :password
                            = "Contraseña " + msg
                          - else
                            = msg
              %fieldset
                .row-fluid
                  .span12
                    %h1.form-header Vive en Estado PLAY
                .row-fluid
                  .span12
                    .form-side-info
                      %p Registrate y haz parte de ésta increible comunidad de fanáticos de Playstation.
                .row
                  .span4
                    .control-group
                      %label Nombre
                      = f.text_field :first_name, :autofocus => true, :style => "width: 300px;", :class => "span4", :placeholder => "Tu nombre...", :type => "text", :required => true 
                  .span4
                    .control-group
                      %label Apellido
                      = f.text_field :last_name, :style => "width: 300px;", :class => "span4", :placeholder => "Tu apellido...", :type => "text", :required => true 
                .row
                  .span4
                    .control-group
                      %label Correo Electrónico
                      = f.email_field :email, :style => "width: 300px;", :class => "span4", :placeholder => "Tu correo electrónico...", :type => "text", :required => true 
                  .span4
                    .control-group
                      %label PSN Id
                      = f.text_field :gamertag, :style => "width: 300px", :class => "span4", :placeholder => "Tu Id de Playstation...", :type => "text", :required => true 
                  .span4
                    .control-group
                      %label Fecha de Nacimiento
                      = f.date_select :birth_date, {:start_year => 1900}, :style => "width: 100px;", :class => "span4", :required => true, :start_year => 1900
                .row
                  .span4
                    .control-group
                      %label Contraseña
                      = f.password_field :password, :style => "width: 300px;",:class => "span4", :placeholder => "Tu contraseña...", :required => true 
                  .span4
                    .control-group
                      %label Confirma tu Contraseña
                      = f.password_field :password_confirmation, :style => "width: 300px;",:class => "span4", :placeholder => "Tu contraseña...otra vez...", :required => true 
                .row-fluid
                  .span12
                    .form-actions.no-margin-bottom
                      = f.submit "Completar Registro", :class => "btn btn-primary btn-large"
                = render "devise/shared/links"
        .span3
          .blog-side-text-block.widget-filled.widget-yellow
            %h3 Tips:
            %ul.big-iconed-tips
              %li
                %i.icon-credit-card
                El Registro es 100% Gratuito
              %li
                %i.icon-comments
                Haz parte de una inmensa comunidad de Jugadores
            %p En Tengo Playstation somos unos fanáticos locos de la consola de Sony desde que salió al mercado en 1994, por ello esperamos que hagas parte de este amor hacia el Gaming y que nunca dejes de jugar.
