- uri = URI(@user.avatar.gsub("_s",""))
- response = Net::HTTP.get_response(uri).code

- unless response == "404"
  = image_tag(uri, :style => "width: 100px; height: 100px; position: absolute; right: 0px; bottom: 0px; top: 296px; left: 45px;", :class => "img-rounded")
- else
  = image_tag(@user.avatar, :style => "width: 100px; height: 100px; position: absolute; right: 0px; bottom: 0px; top: 296px; left: 45px;", :class => "img-rounded")
.div{:style=> "position: absolute; bottom: 0px; top: 289px; left: 160px;"}
  %h3= @user.gamertag
.div{:style=> "position: absolute; bottom: 0px; top: 340px; left: 165px; width: 40px; text-align: center;"}
  %h5= @user.trophies["level"]
.div{:style=> "position: absolute; bottom: 0px; top: 369px; left: 153px; width: 62px;text-align: center;"}
  %h5= @user.trophies["total_trophies"]
.div{:style=> "position: absolute; bottom: 0px; top: 330px; left: 213px; width: 40px;text-align: center;"}
  %h5= @user.trophies["bronze"]
.div{:style=> "position: absolute; bottom: 0px; top: 330px; left: 264px; width: 40px;text-align: center;"}
  %h5= @user.trophies["silver"]
.div{:style=> "position: absolute; bottom: 0px; top: 330px; left: 314px; width: 40px;text-align: center;"}
  %h5= @user.trophies["gold"]
.div{:style=> "position: absolute; bottom: 0px; top: 330px; left: 364px; width: 40px;text-align: center;"}
  %h5= @user.trophies["platinum"]
