!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head

  %body
    /[if lt IE 7]
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    %header#header

    #homepage-carousel.carousel.slide.over-something
      .carousel-inner.slider-w
        .active.item
          .container
            %h1.slider-header
              Bienvenido
              %strong A
              Tengo Playstation
            %h2.slider-sub-header Una comunidad para fans de Playstation. Libre para todos.
            .cta
              = link_to "Registrarme", new_user_registration_path, :class =>"btn btn-cta"
            .slider-browsers-w.clearfix
              .slider-browser.slider-browser-left.hidden-phone{"data-position-bottom" => "-8%"}
                %img{:alt => "Browser-window-1", :src => "assets/browser-window1.png"}/
              .slider-browser.slider-browser-center{"data-position-bottom" => "-9%"}
                %img{:alt => "Browser-window-2", :src => "assets/browser-window2.png"}/
              .slider-browser.slider-browser-right.hidden-phone{"data-position-bottom" => "-8%"}
                %img{:alt => "Browser-window-3", :src => "assets/browser-window3.png"}/
        .item
          .container
            %h1.slider-header Aquí puedes comprar, vender, comentar y compartir.
            %h2.slider-sub-header Si ya tienes una cuenta, ingresa aqui.
            .cta
              = link_to "Ingresar", "#", :class =>"btn btn-cta btn-warning top-sign-in"
            .row.zoomed-browsers-w
              .span4
                .zoomed-browser
                  %img{:alt => "Browser-window-1", :src => "assets/browser-window4.png"}/
              .span4
                .zoomed-browser.hidden-phone
                  %img{:alt => "Browser-window-2", :src => "assets/browser-window5.png"}/
              .span4
                .zoomed-browser.hidden-phone
                  %img{:alt => "Browser-window-3", :src => "assets/browser-window6.png"}/
      %a.carousel-control.left{"data-slide" => "prev", :href => "#homepage-carousel"}
        %i.icon-chevron-left
      %a.carousel-control.right{"data-slide" => "next", :href => "#homepage-carousel"}
        %i.icon-chevron-right
    .sub-slider-features
      .container
        .row
          .span4
            .info-bullet
              %i.icon-shopping-cart
              %h5 Compra y vende
              %p Consigue los juegos o accesorios para tu Playstation que quieras, a los precios que te gustan!.
          .span4
            .info-bullet
              %i.icon-comment
              %h5 Comenta
              %p Puedes enterarte de los hechos más recientes del mundo de los videojuegos, asi como comentar y discutir sobre ello.
          .span4
            .info-bullet
              %i.icon-facebook-sign
              %h5 Comparte
              %p Tengo Playstation está integrado con tus redes sociales para que compartas al mundo todo sobre tu consola favoritas, ventas, compras, y más...

    %section.section-wrapper
      .container
        .row
          .span6
            %h3.section-header Tiendas Disponibles
            .testimonials
              .testimonials-users.row.hidden-phone
                .span1
                  %a.testimonials-user-w.active{"data-toggle" => "testimonial", :href => "#testimonial1"}
                    %span.testimonials-user
                      %img{:alt => "Avatar-1", :src => "assets/test-user.png"}/
                .span1
                  %a.testimonials-user-w{"data-toggle" => "testimonial", :href => "#testimonial2"}
                    %span.testimonials-user
                      %img{:alt => "Avatar-2", :src => "assets/test-user.png"}/
                .span1
                  %a.testimonials-user-w{"data-toggle" => "testimonial", :href => "#testimonial3"}
                    %span.testimonials-user
                      %img{:alt => "Avatar-4", :src => "assets/test-user.png"}/
                .span1
                  %a.testimonials-user-w{"data-toggle" => "testimonial", :href => "#testimonial4"}
                    %span.testimonials-user
                      %img{:alt => "Avatar-1", :src => "assets/test-user.png"}/
                .span1
                  %a.testimonials-user-w{"data-toggle" => "testimonial", :href => "#testimonial5"}
                    %span.testimonials-user
                      %img{:alt => "Avatar-2", :src => "assets/test-user.png"}/
                .span1
                  %a.testimonials-user-w{"data-toggle" => "testimonial", :href => "#testimonial6"}
                    %span.testimonials-user
                      %img{:alt => "Avatar-4", :src => "assets/test-user.png"}/
              .testimonials-speeches
                #testimonial1.testimonials-speech.active
                  %p
                    %strong Homer Simpson is amazing.
                    I've worked with Homer on couple of projects and i really like how lazy he is. Sleeps a lot, does not compain much, a perfect employee.
                  .speech-by
                    Mr. Burns, Springfield Nuclear Power Plant
                #testimonial2.testimonials-speech
                  %p
                    %strong Nulla gravida tellus id fermentum.
                    Phasellus aliquet lobortis dolor, vel aliquam tortor porta vitae. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.
                  .speech-by
                    John Doe, Dundler Mufflin
                #testimonial3.testimonials-speech
                  %p
                    %strong Aliquam at sodales arcu.
                    Nulla gravida, tellus id fermentum tempus, urna elit tempus justo, a tincidunt dui lacus nec est. Maecenas ligula ipsum, suscipit quis posuere id, porttitor vitae odio. Phasellus cursus mauris nec felis sollicitudin ac semper quam hendrerit. Morbi sagittis lobortis libero id imperdiet.
                  .speech-by
                    John Doe, Dundler Mufflin
                #testimonial4.testimonials-speech
                  %p
                    %strong Aenean purus ipsum convallis.
                    Quisque eu est ipsum. Aliquam at sodales arcu. Cras justo velit, pretium quis luctus a, posuere vitae justo. Proin porttitor ultricies justo at semper. Curabitur leo tortor, placerat ut placerat vel, tristique et ipsum. Maecenas at tellus leo, vitae pellentesque velit. Mauris ac augue magna. Vestibulum et magna at urna venenatis vehicula.
                  .speech-by
                    John Doe, Solomon Inc
                #testimonial5.testimonials-speech
                  %p
                    %strong Maecenas id rutrum enim.
                    Pellentesque fringilla fringilla molestie. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                  .speech-by
                    John Doe, ThemeForest
                #testimonial6.testimonials-speech
                  %p
                    %strong Pellentesque habitant morbi tristique
                    Aenean venenatis nisi sit amet massa congue commodo. Aenean purus ipsum, convallis quis rhoncus ut, ullamcorper eget metus.
                  .speech-by
                    John Doe, Dundler Mufflin
          .span6
            %h3.section-header Plataformas
          .span2
            .white-card
              %img{:alt => "Client-1", :src => "assets/test-square.png"}/
          .span2
            .white-card
              %img{:alt => "Client-2", :src => "assets/test-square.png"}/
          .span2
            .white-card
              %img{:alt => "Client-3", :src => "assets/test-square.png"}/
    %section.section-wrapper.stripped
      .container
        .row
          .span12
            %h3.section-header Últimas Noticias
          - @news.each do |news|
            .span4
              .white-card.recent-post.clearfix
                %h5.recent-post-header
                  %a{:href => "single_post.html"}= news.title
                .post-info.clearfix
                  .pull-left
                    %span.post-date= "Hace #{time_ago_in_words(news.created_at)}"
                    = #I18n.l news.created_at, :format => :news
                    %a.post-comments{:href => "single_post.html"} 3 Comentarios
                  .pull-right
                    %a.post-like{:href => "#"}
                      %i.icon-heart
                      4
                - if news.attachements.cover.any?
                  %div.post-image{:style => "width:350px; height:200px; background-repeat:no-repeat; background-size: fit; background-image:url(#{news.attachements.cover.first.url});"}
                - elsif news.attachements.video.any?
                  .post-image
                    = news.attachements.video.first.video_html('350','200',news.attachements.video.first.url,news.title).html_safe
                %p.post-content= truncate(news.content , :length => 150, :omission => '...').html_safe
                = link_to ("Seguir Leyendo &gt;").html_safe, news_path(news), :class => "btn btn-primary btn-extra pull-right"
    %section.section-wrapper.stripped
      .container
        .row
          .span12
            %h3.section-header Payment Plans Information
            .white-card.no-padding
              .pricing-table
                .row
                  .span3
                    .pricing-plan-w.first-plan
                      .plan-name
                        Free
                      .plan-price-w
                        .plan-price-desc Starting at
                        .plan-price
                          %span.price-currency $
                          %span.price-self 0
                          %span.price-period /mo
                      .plan-desc
                        %ul
                          %li Unlimited bandwidth
                          %li
                            %strong 100
                            Products
                          %li
                            %strong 1GB
                            Storage
                          %li
                            %strong 2.0%
                            Transaction fee
                        %p Plan Information: In eu libero tortor, et bibendum tellus. Fusce a libero est.
                        %a.btn.btn-primary.btn-large{:href => "register.html"} Select This Plan
                  .span3
                    .pricing-plan-w
                      .plan-name
                        Premium
                      .plan-price-w
                        .plan-price-desc Starting at
                        .plan-price
                          %span.price-currency $
                          %span.price-self 15
                          %span.price-period /mo
                      .plan-desc
                        %ul
                          %li Unlimited bandwidth
                          %li
                            %strong 500
                            Products
                          %li
                            %strong 3GB
                            Storage
                          %li
                            %strong 1.8%
                            Transaction fee
                        %p Plan Information: In eu libero tortor, et bibendum tellus. Fusce a libero est.
                        %a.btn.btn-primary.btn-large{:href => "register.html"} Select This Plan
                  .span3
                    .pricing-plan-w
                      .plan-name
                        Enterprise
                      .plan-price-w
                        .plan-price-desc Starting at
                        .plan-price
                          %span.price-currency $
                          %span.price-self 25
                          %span.price-period /mo
                      .plan-desc
                        %ul
                          %li Unlimited bandwidth
                          %li
                            %strong 1000
                            Products
                          %li
                            %strong 10GB
                            Storage
                          %li
                            %strong 1.6%
                            Transaction fee
                        %p Plan Information: In eu libero tortor, et bibendum tellus. Fusce a libero est.
                        %a.btn.btn-primary.btn-large{:href => "register.html"} Select This Plan
                  .span3
                    .pricing-plan-w.last-plan
                      .plan-name
                        Unlimited
                      .plan-price-w
                        .plan-price-desc Starting at
                        .plan-price
                          %span.price-currency $
                          %span.price-self 50
                          %span.price-period /mo
                      .plan-desc
                        %ul
                          %li Unlimited bandwidth
                          %li
                            %strong 2000
                            Products
                          %li
                            %strong 20GB
                            Storage
                          %li
                            %strong 1.0%
                            Transaction fee
                        %p Plan Information: In eu libero tortor, et bibendum tellus. Fusce a libero est.
                        %a.btn.btn-primary.btn-large{:href => "register.html"} Select This Plan
    %footer
      .pre-footer
        .container
          .row
            .span4
              .footer-logo
                %a
                  Theme
                  %strong Venera
              %ul.footer-address
                %li
                  %strong Address:
                  2850 Collins ave
                  %br/
                  Camden, NJ 32432-1343, USA
                %li
                  %strong Phone:
                  (324) 234-2343
                %li
                  %strong Fax:
                  (324) 366-5423
            .span4
              %h5.footer-header Recent Posts
              %ul.footer-list
                %li
                  %a Vestibulum auctor dapibus
                %li
                  %a Aliquam tincidunt mauris
                %li
                  %a Lorem ipsum dolor sit
                %li
                  %a Consectetur adipisicing elit
            .span4
              %h5.footer-header Photostream
              %ul.footer-img-list.thumbnails
                %li.span1
                  %a.thumbnail
                    %img{:alt => "8b9890", :src => "assets/test-square.png"}/
                %li.span1
                  %a.thumbnail
                    %img{:alt => "8b9890", :src => "assets/test-square.png"}/
                %li.span1
                  %a.thumbnail
                    %img{:alt => "8b9890", :src => "assets/test-square.png"}/
                %li.span1
                  %a.thumbnail
                    %img{:alt => "8b9890", :src => "assets/test-square.png"}/
                %li.span1
                  %a.thumbnail
                    %img{:alt => "8b9890", :src => "assets/test-square.png"}/
                %li.span1
                  %a.thumbnail
                    %img{:alt => "8b9890", :src => "assets/test-square.png"}/
                %li.span1
                  %a.thumbnail
                    %img{:alt => "8b9890", :src => "assets/test-square.png"}/
                %li.span1
                  %a.thumbnail
                    %img{:alt => "8b9890", :src => "assets/test-square.png"}/
      .deep-footer
        .container
          .row
            .span6
              .copyright Copyright &copy; 2012 Tamerlan Soziev. All rights reserved.
            .span6
              %ul.footer-links
                %li
                  %a Some
                %li
                  %a Footer
                %li
                  %a Policy
                %li
                  %a Terms Of Use
                %li
                  %a Links
