#homepage-carousel.carousel.slide.over-something
  .carousel-inner.slider-w
    .active.item
      .container
        %h1.slider-header= current_user.full_name
        %h2.slider-sub-header
        #profile_cover.cta{:style=> "position: relative; top: 0; left: 0;"}
          - unless @user.cover
            = image_tag("default.jpg")
          - else
            = image_tag("covers/#{@user.cover.url_big}")
          #form
            %form{action: "#{cover_path(current_user)}", style: 'position: absolute; right: 10px; bottom: 30px; top: 370px;'}
              %button.btn.btn-mini
                %i.icon-pencil
                Cambiar

          #psn_info
            %h3{:style=> "position: absolute; bottom: 0px; top: 289px; left: 160px;"} Cargando...
            = image_tag("ajax-loader.gif", :style => "position: absolute; right: 0px; bottom: 0px; top: 340px; left: 75px;", :class => "img-rounded")
            
.sub-slider-features

%script
  $.ajax({
  url: '#{psn_info_path(params[:id])}',
  success: function(html){
  $('#psn_info').hide().html(html).fadeIn();
  }
  });