%section.section-wrapper.post-w
  .container
    .row
      .span8
        .single-post-w
          %h1.post-title= @new.title
          %p.post-info
            %span.info-item
              por
              %a{:href => "#"} Tomás Herrera
            %span.info-item= I18n.l @new.created_at, :format => :news
            %span.info-item
              = link_to "#{@new.commentts.count} Comentarios", "#comment-list", :class => "scroll"
          .single-post-image.bottom.decor-image
            - if @new.attachements.cover.any?
              = image_tag(get_link(@new.attachements.cover.first.url))
            - elsif @new.attachements.video.any?
              = @new.attachements.video.first.video_html('700','393',@new.attachements.video.first.url,@new.title).html_safe
          .post-content
            %p
              = @new.content.html_safe
            .white-card.recent-post.clearfix
              %div{:id => "like_div_#{@new.id}"}
                = render :partial => 'like', :locals => {:news => @new}

        .post-comments-w
          %h3.section-header
            Comentarios (
            %span#comments_count= @new.commentts.count
            )
            %a.roll-link.roll-red.scroll{:href => "#form-add-comment"}
              %span{"data-title" => "Agrega un comentario"} Agrega un comentario
          %ul.post-comments-list#comment-list
            = image_tag(get_link("e622ns92i7ljegx"))
          .white-card.extra-padding#form-add-comment
            = form_for([@new, @new.commentts.build], :id => "form-add-comment form-transparent", :remote => true) do |f|
              %fieldset
                .row-fluid
                  .span12
                    %legend Agrega un comentario
                    %p
                      %small#time-warning.text-error{:style => "margin-bottom: 5px"}
                  .controls.controls-row
                    = f.text_area :content, :class => "span12", :placeholder => "Comenta...", :rows => "5", :id => "multi-users"
                  .form-actions
                    = f.submit "Comentar", :disable_with => "Comentando..", :class => "btn btn-primary btn-small"

      .span4
        .blog-side-bar
          .blog-side-text-block.widget-filled.widget-yellow
            %h3 Just some text block
            %p Ut diam arcu, dictum ut vulputate sed, iaculis nec lorem. Fusce pharetra nisl vitae nisl ultricies ut malesuada leo fringilla.
            %p Sed euismod, metus sed congue rutrum, justo elit malesuada quam, id pulvinar velit massa et justo. Etiam molestie nibh vitae turpis euismod ornare. Etiam dapibus ullamcorper tellus, nec suscipit eros imperdiet id.
%footer
  .deep-footer
    .container
      .row
        .span6
          .copyright Copyright &copy; 2013 Tomas Herrera. Todos los derechos reservados.
        .span6
          %ul.footer-links
            %li
              %a Some
            %li
              %a Footer
            %li
              %a Policy
            %li
              %a Terms Of Use
            %li
              %a#links Links
%script
  $.ajax({
  url: '#{news_commentts_path(@new)}',
  success: function(html){
  $('#comment-list').html(html).hide().fadeIn(400);
  }
  });
%script
  $.ajax({
  url: '#{friends_path}',
  success: function(html){
  $('#links').html(html).hide();
  }
  });
%script
  $('#multi-users').maxlength({max: 450});
%script
  jQuery(document).ready(function($) {

  $(".scroll").click(function(event){
  event.preventDefault();
  $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
  });
  });