%section.section-wrapper.post-w
  .container
    .row
      .span8
        .single-post-w
          %h1.post-title= @new.title
          %p.post-info
            %span.info-item
              por
              %a{:href => "#"} Tomás Herrera
            %span.info-item= I18n.l @new.created_at, :format => :news
            %span.info-item
              %a{:href => "#"} 3 Comments
          .single-post-image.bottom.decor-image
            - if @new.attachements.cover.any?
              = image_tag(@new.attachements.cover.first.url)
            - elsif @new.attachements.video.any?
              = @new.attachements.video.first.video_html('700','393',@new.attachements.video.first.url,@new.title).html_safe
          .post-content
            %p
              = @new.content.html_safe
        .post-author-w
          %h3.section-header Acerca del Autor
          .row
            .span1
              .post-author-photo.hidden-phone
                = image_tag(User.find_by_gamertag("tomaszed91").avatar)
            .span7
              .post-author-bio-w
                .post-author-name= User.find_by_gamertag("tomaszed91").full_name
                .post-author-bio Tomás Herrera es un desarrollador web amante de los videojuegos y fan de Playstation, tiene 21 años de edad y vive en Barranquilla, Colombia.
        .post-comments-w
          %h3.section-header
            = "Comentarios (#{@new.commentts.count})"
            %a.roll-link.roll-red{:href => "#form-add-comment"}
              %span{"data-title" => "Agrega un comentario"} Agrega un comentario
          %ul.post-comments-list#comment-list
            = image_tag("loading.gif")
          .white-card.extra-padding
            = form_for([@new, @new.commentts.build], :id => "form-add-comment form-transparent", :remote => true) do |f|
              %fieldset
                .row-fluid
                  .span12
                    %legend Agrega un comentario
                  .controls.controls-row
                    = f.text_area :content, :class => "span12", :placeholder => "Comenta...", :rows => "6", :id => "multi-users"
                  .form-actions
                    = f.submit "Comentar", :class => "btn btn-small"

      .span4
        .blog-side-bar
          .blog-side-text-block.widget-filled.widget-yellow
            %h3 Just some text block
            %p Ut diam arcu, dictum ut vulputate sed, iaculis nec lorem. Fusce pharetra nisl vitae nisl ultricies ut malesuada leo fringilla.
            %p Sed euismod, metus sed congue rutrum, justo elit malesuada quam, id pulvinar velit massa et justo. Etiam molestie nibh vitae turpis euismod ornare. Etiam dapibus ullamcorper tellus, nec suscipit eros imperdiet id.
%footer
  .deep-footer
    .container
      .row
        .span6
          .copyright Copyright &copy; 2012 Tamerlan Soziev. All rights reserved.
        .span6
          %ul.footer-links
            %li
              %a Some
            %li
              %a Footer
            %li
              %a Policy
            %li
              %a Terms Of Use
            %li
              %a Links
- string = ""
- int = 0
- User.all.each do |user|
  - unless int == 0
    - string.concat(",")
  - string.concat("{username: '#{user.gamertag}', name: '#{user.full_name}', image: '#{user.avatar}'}")
  - unless int < User.all.count
    - string.concat(",")
  - int += 1
%script
  $("#multi-users").mention({
  delimiter: '@',
  users: [#{string}]
  });
%script
  $.ajax({
  url: '#{news_commentts_path(@new)}',
  success: function(html){
  $('#comment-list').html(html);
  }
  });