%section.section-wrapper.create-account-page-w
  .container
    .fieldset
      %legend
        %i.icon-group
        Iniciar Sesi칩n
      = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal pull-left"}) do |f|
        .control-group
          %label.control-label Correo Electr칩nico
          .controls
            = f.email_field :email, :autofocus => true
        .control-group
          %label.control-label Contrase침a
          .controls
            = f.password_field :password
        .form-actions.no-margin-bottom
          - if devise_mapping.rememberable?
            .control-group
              %label.control-label Recordar
              .controls
                = f.check_box :remember_me
          %div= f.submit "Iniciar Sesi칩n", :class => "btn btn-primary btn-large"
        = render "devise/shared/links"
    %div.pull-right{:style => "margin-left: 40px"}
      = image_tag(get_link("ov6p6eyyk3x40bx"))