%body{:style => "margin-top: 40px;"}
  .container-fluid
    .row-fluid
      .span3
        .blog-side-text-block.widget-filled.widget-yellow
          %h4 Reputación
          %p No existen suficientes calificaciones para determinar la reputación.
        .blog-side-text-block.widget-filled.widget-yellow
          %h4 Info. Contacto
          %p No se ha ingresado información de contacto aún.
        .blog-side-text-block.widget-filled.widget-yellow
          %h4 Info. Pago
          %p No se ha ingresado información de pago aún.
      .span9
        .single-post-w
          %div{:style => "postition: absolute"}
            %ul.bxslider
              %li
                = image_tag("marketcover.png", :class => "img-rounded")
              %li
                = image_tag("marketcover.png", :class => "img-rounded")
              %li
                = image_tag("marketcover.png", :class => "img-rounded")
              %li
                = image_tag("marketcover.png", :class => "img-rounded")

            %h2{:style=> "position: absolute; bottom: 0px; top: 300px; left: 410px; color: white; height: 40px"}= @user.market.title
          %ul.nav.nav-pills{:style => "margin-bottom: 10px"}
            %li
              = link_to "#", "data-target" => "#myModal", "data-toggle" => "modal" do
                %i.icon-plus
                = "Agregar Producto"
          #products
            = render :partial => "products/products", :locals => {:products => @products}

  #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel Que juego quieres vender?
    .modal-body{:style => "padding-bottom: 5px"}
      = form_tag market_products_path(current_user.market), :method => 'get', remote: true, :style => "margin-bottom: 0px" do
        .input-append
          = text_field_tag :search, params[:search], :class => "input-append"
          = submit_tag "Buscar", :name => nil, :class => "btn btn-primary", :disable_with => "Buscando..."
    .modal-body
      #result
    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancelar
%script
  $('.game_info').popover({placement: 'bottom', html:true, trigger:'hover'})
%script
  $('.btn-danger').popover({ title: 'Atención!', content: 'El producto se eliminará al presionar este botón', html:true, trigger: 'hover' })
%script
  $(document).ready(function(){
  $('.bxslider').bxSlider();
  });
