!!!
%html
  %head
    %title Tengops
    = stylesheet_link_tag   "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %link{:href => "http://fonts.googleapis.com/css?family=Abel:400|Oswald:300,400,700", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "//cdn.sublimevideo.net/js/txz0ylvb.js", :type => "text/javascript"}
  %body
    %div.navbar.navbar-fixed-top.navbar-inverse
      %div.navbar-inner
        %div.container
          = link_to "Tengo Playstaton", root_path, class: "brand"
          %ul.nav
            - if user_signed_in?
              %li
                .btn-toolbar2
                  .btn-group
                    %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      %i.icon-bell
                    %ul.dropdown-menu
                      %hr{:style => "margin-top: 1px; margin-bottom: 2px"}
                      %h6{:style => "text-align: center;"} Más

                  .btn-group
                    %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      %i.icon-envelope
                    %ul.dropdown-menu
                    / dropdown menu links
                  .btn-group
                    %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      %i.icon-shopping-cart
                    %ul.dropdown-menu
                    / dropdown menu links
          %div.nav-collapse.subnav-collapse.pull-right.collapse{:id=> "top-navigation"}
            %ul.nav
              %li{:id => "news-navbar"}= link_to "Noticias", news_index_path
              - if user_signed_in?
                %li{:id => "market-navbar"}= link_to "Market", markets_path(current_user)
                - clase = ""
                - if params[:action] == "profile"
                  - clase = "active"
                %li{:class => clase, :id => "profile-navbar"}
                  = link_to image_tag(current_user.avatar, :style => "width: 24px; height:24px") + " #{(current_user.gamertag).camelcase}", profile_path(current_user)
                %li= link_to content_tag(:i, nil, :class => "icon-signout") + "Salir", destroy_user_session_path, method: :delete
              - else
                .top-account-control.visible-desktop
                  = link_to "Registrarme", new_user_registration_path, :class => "top-create-account"
                  = link_to "Ingresar", "#", :class => "top-sign-in"


                .login-box
                  = form_tag user_session_path do
                    %a.close.login-box-close{:href => "#"} &times;
                    %h4.login-box-head Formulario de Inicio de Sesión
                    .control-group
                      %label Correo Electrónico
                      = text_field_tag "user[email]", nil, options = {:class =>  "span2", :placeholder => "Correo...", :type => "text"}
                    .control-group
                      %label Contraseña
                      = password_field_tag "user[password]", nil, options = {:class =>  "span2", :placeholder => "Contraseña..."}
                    .login-actions
                      %button.btn.btn-primary{:type => "submit", :value => "Iniciar Sesión"} Iniciar Sesión
    - if flash[:notice]
      .alert.alert-success{:style => "margin-bottom: 0px"}
        %button.close{"data-dismiss" => "alert", :type => "button"} x
        = flash[:notice]
    - if flash[:alert]
      .alert.alert-error{:style => "margin-bottom: 0px"}
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = flash[:alert]
    = yield
%script
  $('#profile-navbar, #news-navbar, #market-navbar').hover(
  function () {
  $(this).addClass('active');},
  function () {
  $(this).removeClass('active');
  }
  );